<!DOCTYPE html>
<html>
  <head>
    <title>Palindrome Checker</title>
  </head>
  <body>
    <div>
      <form action="/result" method="post">
        <label for="pali-input">Input a string or number to test:</label>
        <input id="pali-input" name="input" type="text">
        <button type="submit">Submit</button>
      </form>
    </div>
    <div>
      @if (Model.IsPalindrome())
      {
        <p>@Model.PaliString is a palindrome.</p>
      }
      else
      {
        <p>@Model.PaliString is NOT a palindrome.</p>
      } 
    </div>
  </body>
</html>